* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: gainsboro;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  color: white;
  font-size: 30px;
  padding: 10px;
}

.trybewarts-header-logo {
  width: 60px;
  align-self: flex-start;
}

#trybewarts-header-title {
  font-size: 42px;
  align-self: center;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#email {
  padding: 10px;
  border-radius: 8px;
  border: 0;
  align-self: flex-start;
  width: 200px;
}

#senha {
  padding: 10px;
  margin-left: 10px;
  border-radius: 8px;
  border: 0;
  align-self: center;
  width: 100px;
}

.login-btn {
  padding: 10px;
  margin-left: 10px;
  border-radius: 8px;
  border: 0;
  align-self: flex-end;
  width: 80px;
  background-color: rgb(85, 19, 60);
  color: white;
  font-weight: 900;
}

.main-container {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  align-items: flex-start;

}

#trybewarts-forms-logo {
  height: 500px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#form-title {
  text-align: center;
  margin-bottom: 20px;
}

#name-lastname,
#email-house {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

#input-name,
#input-lastname,
#input-email,
#house {
  padding: 10px;
  border: 0;
  border-radius: 8px;
  background-color: white;
  width: 300px;
}

#house {
  width: 260px;
}

.labels-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.family {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;

}

.checkbox-subjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-3,
.last-3 {
  display: flex;
  justify-content: space-around;
}

#label-rate {
  display: flex;
  justify-content: center;
}

.numbers {
  margin: 0 10px;
}

.textarea {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

#coment-textarea {
  width: 675px;
  height: 100px;
  border-radius: 8px;
  border: 0;
  resize: none;
}