* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:gainsboro;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(50, 167, 145);
  color: white;
  font-size: 30px;
  padding: 10px;
}

.trybewarts-header-logo {
  width: 60px;
  align-self: flex-start;
}

.title {
  align-self: center;
  margin: auto;
  font-weight: bold;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#email {
  padding: 10px;
  border-radius: 8px;
}

#senha {
  padding: 10px;
  margin-left: 10px;
  border-radius: 8px;
}
.login-btn {
  padding: 10px;
  margin-left: 10px;
  border-radius: 8px;
}